<%- include('header') %>
<div class="container">
<h1>Home</h1>
<hr>
<a href="register" class="btn btn-primary">Register</a>
<a href="login" class="btn btn-primary">Login</a>
</div>

<%- include('footer') %>